<% content_for :title, "Editing movie" %>

<h1>Editing movie</h1>

<%= render "form", movie: @movie %>

<br>

<div>
  <%= link_to "Show this movie", @movie %>

  <button onclick="location.href='<%= movies_path %>'">Back to movies</button>
</div>
